
.lock-waf_darwin_build

*.py

*.pyc

build/.wafpickle-98

*.pbpack

*.pbw

*.log

*.bin

*.elf

*.map

*.data

*.manifest

*.table

*.pfo

*.pbi

*.o

build/src/resource_ids.auto.h

include

lib

*.ld

resources/wscript

tools

waf

wscript
